@import url('https://fonts.cdnfonts.com/css/circular-std');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;

}
    @media (min-width: 860px) {
      .navbar .collapse {
        display: none;
      }
      .reversecolumn{
        padding-left: 128px;
    }
    .qwead{
        padding-left: 128px;
        padding-right: 128px;
    }
    .loremipsum{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 450;
        font-size: 23px;
        line-height: 160%;
        color: rgba(25, 24, 37, 0.5);
    }
    .damaluli{
        display: none;
    }
    .Testimonials{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #F85E9F;
        margin-top: 76px;
    }
    .trust{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 120%;
        text-align: center;
        color: #191825;
        margin-top: 16px;
    }
    .prepare{
        font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 120%;
/* or 66px */

text-align: center;

/* Grey Scale/Black */

color: #191825;
    }
    .card31{
        height: 164px;
    background: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    }
    


    }



    @media only screen and (max-width: 860px) {
        .gilakebi{
            margin-top: 90px;
            justify-content: space-between;
          }
          .loremipsum{
            font-family: 'Circular Std';
font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 160%;
color: rgba(25, 24, 37, 0.5);
          }
          .adadasd{
            display: none;
          }
      .navbar .navbar-nav {
        display: none;
      }
      .prepare{
        font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;
/* or 38px */

text-align: center;

/* Grey Scale/Black */

color: #191825;

      }
      .navbar .collapse {
        display: block;
      }
      .card31{
        margin-left: 10px;
        height: 284px;
    background: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding:32px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    }
    .littleimages{
        height: 100px;
        width: 100px;
    }
    .Testimonials{
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #F85E9F;
    }
    .trust{
      font-family: 'Circular Std';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      text-align: center;
      color: #191825;
    }
    .etraa{
        margin-top: 70px;
    }
    .adsssa{
        flex-direction: column;
        margin-left: 15px;
    }
      .card3{
        height: 284px;
    background: #FFFFFF;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding:32px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    }
      #itemimage {
        height: 324px;
        width: 400px;
      }
      .divnum1{
        flex-direction: column-reverse;
        margin-top: 2px;
      }
      .rowclassi{
        padding: 20px;
        display: flex;
        justify-content: center;
        row-gap: 16px;
      }
      .services{
        padding: 0;
        margin: 0;
      }
      .servicesh2{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #191825;
      }
      .card2{
        margin-left: 15px;
      }
      .servicesh1{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #F85E9F;
      }
      
      .destination3{
        text-align: center;
        width: fit-content;
      }
      .destination2{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #191825;
      }
      .footeria2{
        gap: 64px;
      }
      .kkjg{
        margin-left: 25px;
      }
      .qardebi1{
        margin-left:  25px;
      }
      .destination{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #F85E9F;
      }
      .randomimage{
        width: 364px;
      }
      .qardebi1{
        width: 398px;
        height: 561px;
        background: #FFFFFF;
        box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
        border-radius: 0px 0px 32px 32px;
      }
      .carddescriptiondiv{
        gap: 10px;
      }
      .city{
        margin-top: 10px;
      }
      .sm-mt-5{
        margin-top: 48px;
      }
      .reversecolumn{
        flex-direction: row-reverse;
      }
      .card3{
        flex-direction: column;
      }
    }
    .row{
        margin-right: 15px;
    }
.image{
    width: 575px;
    height: 632px;
}
.footeria{
    margin-top: 200px;
  }
.description1{
    width: 432px;
height: 577px;
}
.arrow{
width: 21.5px;
height: 21.5px;
}
.divnum1{
    margin-top: 250px;
    gap: 250px;
    flex-wrap: wrap;
}
.company{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
color: #191825;
}

nav {
    background: #333;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .show-menu {
    display: block !important;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  


.About{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: rgba(25, 24, 37, 0.75);
}
.explore{
    display: flex;
    align-items: center;
    gap: 18px;
}
.exploreh1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: #F85E9F;
margin-top: 10px;
}
.redwords{
    color: #F85E9F;
}
.bigwords{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 69px;
line-height: 120%;
color: #000000;
}
.smallwords{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: rgba(25, 24, 37, 0.5);
}
.buttons{
    margin-left: 5px;
    margin-top: 10px;
    height: 49px;
    background: #5D50C6;
    box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons1{
    margin-left: 5px;
    margin-top: 10px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;
}
.watchdemo{
    margin-top: 10px;
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: #222831;
}
.getstarted{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: #EEEEEE;
margin-top: 10px;
}
.travlog{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #191825;
}
.div1{
    gap: 16px;
    height: 40px;
}
.img1{
    width: 40px;
height: 40px;
}
.row{
    justify-content: space-between;
}
.navigation{
    gap: 64px;
}
.home{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: #222831;
border: none;
background-color: transparent;
}
.home1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: whitesmoke;
background-color: transparent;
}
.discover{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: rgba(25, 24, 37, 0.5);
border: none;
background-color: transparent;
}
.discover1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: whitesmoke;
border: none;
background-color: transparent;
}
.login1{
    background-color: transparent;
    border: none;
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: #222831;
width: 105px;
height: 49px;
background: transparent;
border-radius: 100px;
}
.signup{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 120%;
color: #EEEEEE;
gap: 8px;
width: 115px;
height: 49px;
background: #5D50C6;
border-radius: 100px;
border: none;
}
.services{
    margin-top: 10%;
}
.card2h1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 120%;
text-align: center;
color: #191825;
margin-top: 64px;
}
.card2h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
text-align: center;
color: rgba(25, 24, 37, 0.5);
margin-top: 32px;
}
.servicesh1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #F85E9F;
}
.servicesh2{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 120%;
color: #191825;

}
.card2{
    display: flex;
flex-direction: column;
align-items: center;
padding-top: 64px;
height: 443px;
background: #FFFFFF;
border: 1px solid rgba(25, 24, 37, 0.1);
border-radius: 32px;
}
.destination{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #F85E9F;
margin-top: 130px;
}
.destination2{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 120%;
color: #191825;
}
.circle{
    width: 100px;
height: 100px;
left: 0px;
top: 0px;
background: transparent;
border: 1px solid rgba(25, 24, 37, 0.1);
border-radius: 100px;
margin-top: 130px;
}
.circle1{
    width: 100px;
height: 100px;
left: 0px;
top: 0px;
background: #5D50C6;
border-radius: 100px;
transform: matrix(-1, 0, 0, 1, 0, 0);
margin-top: 130px;
margin-left: 32px;
}
.qardebi1{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 373.33px;
height: 605px;
border-radius: 32px 32px 0px 0px;
border: none;
box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}
.qardebiskont{
    margin-top: 180px;
}
.qardebi{
    row-gap: 32px;
    gap: 32px;
}
.beachtxt{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
color: #191825;
}

.price{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    color: #F85E9F;
}
.city{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: rgba(25, 24, 37, 0.75);
margin-top: auto;
}
.ratingtxt{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
color: #FF5722;
}
.rating{
    gap: 7px;
    margin-top: auto;
}
.chapter2div1h1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #F85E9F;
}
.chapter2div1h2{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 120%;
color: #191825;
}
.chapter2div1h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: rgba(25, 24, 37, 0.5);
}

.chapter2div2h1{
    font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 120%;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #F85E9F;
}
.card3{
    height: 164px;
background: #FFFFFF;
border-radius: 32px;
display: flex;
border: none;
flex-direction: row;
align-items: center;
padding: 32px;
}

.asdaa{
    gap: 64px;
}